<div class="content">

  <div class="login-box-one one-third-responsive">&nbsp;</div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, style: 'overflow:visible;' }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <div class="login-box-one one-third-responsive full-bottom">
      <div class="login-wrapper half-bottom">

        <h5 class="center-text">Reset your password</h5>
        <p class="center-text half-bottom" style="margin-top:10px;">
          Enter and confirm your new password to regain access to your account.
        </p>

        <% if resource.errors.any? %>
          <div class="red-notification" style="margin-bottom:20px;">
            <p class="uppercase" style="font-size:smaller;text-align:left;margin-top:5px;margin-bottom:5px;">
              <i class="fa fa-warning"></i>
              <% resource.errors.full_messages.each do |msg| %><%= msg %><br/><% end %>
            </p>
          </div>
        <% end %>

        <em><i class="fa fa-lock"></i>Password</em>
        <%= f.password_field :password, autocomplete: "off", class: 'green-focus login-box-one-pwd half-bottom' %>
        <em><i class="fa fa-lock"></i>Confirm Password</em>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'green-focus login-box-one-pwd half-bottom' %>
        <%= f.submit "Change my password", class: "button button-green center-button", style: 'width:170px;' %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>
