<script>
  jQuery(document).ready(function () {
    jQuery("tr:even").addClass("even");
  });
</script>

<%= render '/wmgr/includes/search' %>

<div class="content">
  <div class="half-bottom"></div>
  <div class="box-960 half-bottom">

  <h4 style="float:left;">Camp Westwind Overview</h4>
  <div style="float:right;"><%= Time.zone.now.strftime "%m/%d/%Y %H:%M:%S" %></div>
  <div style="clear:both"></div>

  <table class="table">
    <tbody>
    <tr>
      <th></th>
      <th class="table-title blue-title">WEEK 1</th>
      <th class="table-title orange-title">WEEK 2</th>
      <th class="table-title purple-title">WEEK 3</th>
    </tr>
    <tr>
      <td style="font-weight:bold;">FAMALIES</td>
      <td><%= @summary[:registered][:week1].length %></td>
      <td><%= @summary[:registered][:week2].length %></td>
      <td><%= @summary[:registered][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">PEOPLE</td>
      <td><%= @summary[:people][:week1].length %></td>
      <td><%= @summary[:people][:week2].length %></td>
      <td><%= @summary[:people][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">ONK MEMBERS</td>
      <td><%= @summary[:onk_members][:week1].length %></td>
      <td><%= @summary[:onk_members][:week2].length %></td>
      <td><%= @summary[:onk_members][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">!ONK MEMBERS</td>
      <td><%= @summary[:not_onk_members][:week1].length %></td>
      <td><%= @summary[:not_onk_members][:week2].length %></td>
      <td><%= @summary[:not_onk_members][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">DEPOSIT PAID</td>
      <td><%= @summary[:deposit_paid][:week1].length %></td>
      <td><%= @summary[:deposit_paid][:week2].length %></td>
      <td><%= @summary[:deposit_paid][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">DEPOSIT UNPAID</td>
      <td><%= @summary[:deposit_unpaid][:week1].length %></td>
      <td><%= @summary[:deposit_unpaid][:week2].length %></td>
      <td><%= @summary[:deposit_unpaid][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">BALANCE DUE</td>
      <td><%= @summary[:not_paid_full][:week1].length %></td>
      <td><%= @summary[:not_paid_full][:week2].length %></td>
      <td><%= @summary[:not_paid_full][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">PAID IN FULL</td>
      <td><%= @summary[:paid_full][:week1].length %></td>
      <td><%= @summary[:paid_full][:week2].length %></td>
      <td><%= @summary[:paid_full][:week3].length %></td>
    </tr>
    <tr>
      <td style="font-weight:bold;">WAIVERS COMPLETE</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
    </tr>
    <tr>
      <td style="font-weight:bold;">DIETARY INFORMATION</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
    </tr>
    </tbody>
  </table>
  <br/>

  </div>
</div>