<script>
    jQuery(document).ready(function () {
        jQuery("tr:even").addClass("even");
    });
</script>

<%= render '/wmgr/includes/search' %>

<div class="content">
  <div class="half-bottom"></div>
  <div class="box-960 half-bottom">

    <h4 style="float:left;">Camp Westwind Volunteers for <%= @week %></h4>
    <div style="float:right;"><%= Time.zone.now.strftime "%m/%d/%Y %H:%M:%S" %></div>
    <div style="clear:both"></div>

    <table class="table">
      <tbody>
      <tr>
        <th>Person</th>
        <th class="table-title blue-title">Campfire Leader</th>
        <th class="table-title blue-title">Cascade Head</th>
        <th class="table-title blue-title">Mud Mucking</th>
        <th class="table-title blue-title">Crafts</th>
        <th class="table-title blue-title">Sand Castles</th>
      </tr>

      <% @volunteers.each do |volunteer| %>
        <tr>
          <td style=""><%= "#{volunteer.first} #{volunteer.last}" %></td>
          <td><%= volunteer.volunteer_campfire_leader? ? "Yes" : "" %></td>
          <td><%= volunteer.volunteer_cascade_head? ? "Yes" : "" %></td>
          <td><%= volunteer.volunteer_mud_mucking? ? "Yes" : "" %></td>
          <td><%= volunteer.volunteer_crafts? ? "Yes" : "" %></td>
          <td><%= volunteer.volunteer_sand_castles? ? "Yes" : "" %></td>
        </tr>
      <% end %>

      </tbody>
    </table>
    <br/>
    <%= link_to 'Family Report', wmgr_report_families_path('csv') %>
    <%= link_to 'People Report', wmgr_report_people_path('csv') %>
  </div>
</div>