<script>
</script>

<div class="content">
  <div class="box-960">
    <%= render '/includes/breadcrumb', page_name: 'Attestations' %>

    <%= form_tag(vaccines_submit_path, id: 'vaccine_form', method: 'post') do %>

      <div class="one-half-responsive no-bottom" style="margin-right:0;">
        <h1>Oya No Kai</h1>
        <p class="dropcaps dropcaps-1">
          Because there is an inherent risk of exposure to COVID-19 at any gathering, by attending this event guests voluntarily
          assume all risks related to exposure to COVID-19. In addition, Oya No Kai, Inc. is implementing a mandatory vaccination
          policy for all in-person attendees, which requires attendees to be fully vaccinated against COVID-19. “Fully vaccinated,”
          as defined by the Centers for Disease Control and the Oregon Health Authority, means at least two weeks have passed since
          receiving the second dose of a two-dose COVID-19 vaccine (e.g., Moderna or Pfizer) or two weeks after receiving a single
          dose of a one-dose COVID-19 vaccine (e.g., Johnson & Johnson).  By registering for this event, attendees are attesting to
          their vaccination status. We will communicate additional COVID-19 protocols that may be established in advance of the event.
          <br/><br/>
          HEALTH ATTESTATION
          <br/><br/>
          For purposes of this attestation, fully vaccinated means that you have received at least 14 days prior, either the second
          dose in a two-dose COVID-19 vaccine series or a single-dose COVID-19 vaccine. Vaccines must be FDA approved; have FDA approval
          (Pfizer/BioNTech) or an emergency use authorization from the FDA (e.g. Moderna and Janssen (Johnson & Johnson); or, for
          persons fully vaccinated outside the United States, be listed for emergency use by the World Health Organization (WHO).
        </p>
        <br/>
      </div>

      <div class="decoration hide-if-responsive"></div>

      <div class="one-fifth-responsive one-half-full" style="float:right;">

        <% if @vaccine.errors.any? %>
          <blockquote class="quote-one red-quote">
            <div id="error_explanation">
              <ul>
                <% @vaccine.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </blockquote>
          <br/>
        <% end %>

        <blockquote class="quote-one">
          Your First Name<br/>
          <input style="-webkit-appearance: textfield; border:1px solid black; padding:3px; margin-bottom:10px;" type="text" name="vaccine[first]" value="<%= @vaccine.first %>" required/>
          Your Last Name<br/>
          <input style="-webkit-appearance: textfield; border:1px solid black; padding:3px; margin-bottom:10px;" type="text" name="vaccine[last]" value="<%= @vaccine.last %>" required/>
          Full Names of Fully Vaccinated Attendees in my Party (Including Myself)<br/>
          <textarea required name="vaccine[party]" style="height:70px; width:450px; -webkit-appearance: textfield; border:1px solid black; padding:3px; margin-bottom:10px;"><%= @vaccine.party %></textarea>
        </blockquote>

        <br/>

        <blockquote class="quote-one">
          I understand and agree that by providing this information, I am voluntarily disclosing my vaccination status to
          Oya No Kai, Inc. I affirm that the above attestation is accurate. I also understand that if I stated that I am fully
          vaccinated, Oya No Kai, Inc. may request documentation of my vaccination status (e.g., a copy of my vaccine card).
          <br/>
          <select name="vaccine[understand]" style="-webkit-appearance: menulist; border:1px solid black; padding:3px;">
            <option></option>
            <option <%= (@vaccine.understand == "Yes, I fully understand and accept this Vaccine Attestation.") ? 'selected="selected"' : "" %>>
              Yes, I fully understand and accept this Vaccine Attestation.
            </option>
            <option <%= (@vaccine.understand == "No, I do not understand or do not agree with Vaccine Attestation.") ? 'selected="selected"' : "" %>>
              No, I do not understand or do not agree with Vaccine Attestation.
            </option>
          </select>
        </blockquote>

        <br/>

        <blockquote class="quote-one blue-quote">
          <b>Electronic Signature:</b>&nbsp;&nbsp;Type your full name here.
          <br/>
          <input style="-webkit-appearance: textfield; border:1px solid black; padding:3px; margin-bottom:10px; width:100%;" type="text" name="vaccine[signature]" value="<%= @vaccine.signature %>" required/>
        </blockquote>

        <input type="submit" style="width: 200px;" class="button button-green center-button" value="Sign Vaccine Attestation"/>
      </div>
      <div class="clear"></div>
      <br/>

  <% end %>
  </div>
</div>

