<% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= f.fields_for @teacher.user, :user do |uf| %>

    <div class="field half-bottom">
      <%= uf.label :email, class: 'field-title defaultField' do %>
          Email <span>(required)</span>
      <% end %>
      <%= uf.email_field :email, autofocus: true, class: 'contactField field-deco requiredField' %>
    </div>

    <div class="field half-bottom">
      <%= uf.label :password, class: 'field-title defaultField' do %>
          Password <span>(<%= msg %>)</span>
      <% end %>
      <%= uf.password_field :password, autocomplete: "off", class: 'contactField field-deco requiredField' %>
    </div>

<% end %>

<div class="field half-bottom">
  <%= f.label :first, class: 'field-title defaultField' do %>
      First <span>(required)</span>
  <% end %>
  <%= f.text_field :first, class: 'contactField field-deco requiredField' %>
</div>

<div class="field half-bottom">
  <%= f.label :last, class: 'field-title defaultField' do %>
      Last <span>(required)</span>
  <% end %>
  <%= f.text_field :last, class: 'contactField field-deco requiredField' %>
</div>

<div class="field half-bottom">
  <%= f.label :grade, class: 'field-title defaultField' do %>
      Grade <span>(required)</span>
  <% end %>
  <%= f.select :grade,
               options_for_select([['', ''], ['Kindergarten', 'K'], ['1st Grade', '1'], ['2nd Grade', '2'], ['3rd Grade', '3'], ['4th Grade', '4'], ['5th Grade', '5']], @teacher.grade),
               {}, {class: 'contactField field-deco requiredField'} %>
</div>

