<% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
        <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class="field half-bottom">
  <%= f.label :first, class: 'field-title defaultField' do %>
      First <span>(required)</span>
  <% end %>
  <%= f.text_field :first, class: 'contactField field-deco requiredField' %>
</div>

<div class="field half-bottom">
  <%= f.label :last, class: 'field-title defaultField' do %>
      Last <span>(required)</span>
  <% end %>
  <%= f.text_field :last, class: 'contactField field-deco requiredField' %>
</div>

<div class="field half-bottom">
  <%= f.label :email, class: 'field-title defaultField' do %>
      email <span>(required)</span>
  <% end %>
  <%= f.text_field :email, class: 'contactField field-deco requiredField' %>
</div>

<div class="field half-bottom">
  <%= f.label :email, class: 'field-title defaultField' do %>
      email2 <span>(optional)</span>
  <% end %>
  <%= f.text_field :email2, class: 'contactField field-deco requiredField' %>
</div>

<div class="field half-bottom">
  <%= f.label :teacher_id, class: 'field-title defaultField' do %>
      Teacher <span>(required)</span>
  <% end %>
  <%= f.select :teacher_id, options_for_select(@teachers, @student.teacher.id), {}, {class: 'contactField field-deco requiredField'} %>
</div>

