<script>
    jQuery(document).ready(function () {
        jQuery("tr:odd").addClass("even");

        jQuery(".onk_membership").click(function () {
            $('#onk_member_form').submit()
        });

        jQuery(".remove_pmt").click(function () {
            var payment_id = jQuery(this).data("payment-id");
            jQuery("#payment_id").val(payment_id);
            jQuery("#payment_delete_form").submit();
        });
    });
</script>

<%= render '/wmgr/includes/search' %>

<%= form_tag wmgr_payment_delete_path, method: :post, id: 'payment_delete_form' do %>
    <input type="hidden" id="payment_id" name="id"/>
<% end %>

<%= form_tag wmgr_onk_path(@family.id), method: :post, id: 'onk_member_form' do %>
<% end %>

<div class="content">
  <div class="half-bottom"></div>
  <div class="box-960 half-bottom">

    <span style="font-weight:bold;"><%= @family.name %> Family:</span>
    <% @family.members.each do |adult|%><%= "#{adult.first} #{adult.last}, " %><% end %>
    <br/><br/>

    <div class="one-half-responsive no-bottom" style="margin-right:0;">
      <% if @payment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@payment.errors.count, "error") %> Error(s):</h2>

            <ul>
              <% @payment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <br/>
      <% end %>

      <%= form_for @payment, :url => wmgr_payment_path(@family) do |f| %>
        <div class="pricing-table pricing-selected-green" style="max-width: 400px;">
          <h2>
            <%= number_to_currency(@family.amount_due) %>
            <em>total due</em>
          </h2>
          <ul>
            <li>Payment Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :pmttype, style: "height:25px;display:inline;border:1px solid gray;padding-left: 5px;" %></li>
            <li>Payment Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :pmtdate, style: "height:25px;display:inline;border:1px solid gray;padding-left: 5px;" %></li>
            <li>Payment Amount: <%= f.text_field :amount, style: "height:25px;display:inline;border:1px solid gray;padding-left: 5px;" %></li>
            <li>Payment Fee:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.text_field :fee, style: "height:25px;display:inline;border:1px solid gray;padding-left: 5px;" %></li>
          </ul>
          <%= f.submit "Add Payment", class: "button center-button button-green" %>
        </div>
      <% end %>
      <br/>

    </div>

    <div class="one-half-responsive no-bottom" style="margin-right:0;">

      <%= form_for @family, :url => wmgr_week_path(@family) do |f| %>
        <div class="pricing-table pricing-selected-blue" style="max-width: 400px;">
          <h1>
            Family Details
          </h1>
          <ul>
            <li style="text-align: left;padding-left:100px;">
              <a href="#" style="width:130px;padding-top:3px;" class="onk_membership checkbox checkbox-class-1 <%= @family.onk_member? ? '' : 'checkbox-unselected-1' %>">ONK Member</a>
            </li>
            <li style="text-align: left;padding-left:100px;">
              Email: <%= @family.email %>
            </li>
            <li style="text-align: left;padding-left:100px;">
              Phone: <%= @family.phone %>
            </li>
            <li style="text-align: left;padding-left:100px;">
              Code: <%= @family.code %>
            </li>
            <li style="text-align: left;padding-left:100px;">
              Weekend
              <select name="week" <% unless current_user.email == "mgiacomi@gltech.com" %>disabled=true;<% end %> style="height:25px;margin-left:10px;padding-left:20px;width:95px;border:1px solid gray;">
                <option value="1" <% if @family.week == 1 %>selected="true"<% end %>>Week 1</option>
                <option value="2" <% if @family.week == 2 %>selected="true"<% end %>>Week 2</option>
                <option value="3" <% if @family.week == 3 %>selected="true"<% end %>>Week 3</option>
                <option value="0" <% if @family.week == 0 %>selected="true"<% end %>>Wait List</option>
              </select>
            </li>
          </ul>
          <input type="submit" <% unless current_user.email == "mgiacomi@gltech.com" %>disabled=true;<% end %> class="button center-button button-blue" value="Update Week"/>
        </div>
      <% end %>
    </div>

    <table class="table">
      <tbody>
      <tr>
        <th class="table-title">Payment Date</th>
        <th class="table-title">Type</th>
        <th class="table-title">Amount</th>
        <th class="table-title">Fee</th>
        <th class="table-title">Remove?</th>
      </tr>
      <% @family.payments.each do |payment| %>
          <tr>
            <td><%= payment.pmtdate.strftime "%m/%d/%Y" %></td>
            <td><%= payment.pmttype %></td>
            <td class="price"><%= number_to_currency(payment.amount) %></td>
            <td class="price"><%= number_to_currency(payment.fee) %></td>
            <td>
              <img data-payment-id="<%= payment.id %>" class="remove_pmt" style="display:inline;" src="/images/remove.png"/>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>